.wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f9fafc;

    @media (max-width:576px) {
        & {
            background-color: var(--white-color);
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 30px 0;

    h1 {
        color: var(--link-color);
        font-size: 4rem;
    }

    @media (max-width:576px) {
        & {
            margin: 10px auto;
        }
    }
}

.link {
    color: var(--link-color);
    font-size: 1.4rem;

    &:hover {
        text-decoration: underline;
        color: var(--link-hover-color);
    }
}

// form container
.container {
    width: min(450px, 100%);
    padding: 25px 40px;
    border-radius: 4px;
    background-color: var(--bg-light-color);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);

    @media (max-width:576px) {
        & {
            padding: 20px 40px;
            background-color: transparent;
            border: none;
            box-shadow: none;
        }
    }
}

.title {
    margin-bottom: 8px;
    color: var(--heading-color);
    font-size: 1.6rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 16px;

}

.errorMess {
    color: var(--error-color);
    font-size: 1.2rem;
    text-align: left;
    margin: 4px 0 0 16px;
}

// config 
.control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accept {
    display: flex;
    align-items: flex-start;
    color: var(--text-light-color);
    font-size: 1.4rem;
    line-height: 2rem;

    input {
        background-color: transparent;
        border: 1px solid var(--border-color);
        margin-right: 12px;
        height: 2rem;
    }
}

.signin {
    border-top: 1px solid var(--border-color);
    margin-top: 12px;

    span {
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        gap: 8px;
        margin: 14px 0;
    }
}

.miniText {
    font-size: 1.2rem;
    text-align: center;
}

.bottomBackground {
    position: fixed;
    z-index: -999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media (max-width:576px) {
        & {
            display: none;
        }
    }
}

.leftBackground {
    position: absolute;
    width: min(400px, 30%);
    left: 0;
    bottom: 0;
}

.rightBackground {
    position: absolute;
    width: min(400px, 30%);
    right: 0;
    bottom: 0;
}