.wrapper {
    margin: 0 40px;
    position: relative;
    // dùng flex để cho height phần tử con chiếm hết phần chiều cao còn lại của parent
    display: flex;
    flex-direction: column;

    @media (max-width:576px) {
        & {
            margin: 0 16px;
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.filter {
    margin: 8px 0 16px;
}


.wrapper {

    .memberWrapper {
        padding: 0;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: transparent;

        }
    }

    .memberAvatar {
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            z-index: 2;
            transform: translateY(-3px);
        }
    }

    .memberItem {
        white-space: nowrap;
        max-width: 300px;
        overflow-x: hidden;
        position: relative;
        display: flex;
        padding: 4px 8px;
        gap: 6px;
        align-items: center;

        span {
            flex: 1;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}