.wrapper {
    padding-bottom: 50px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.container {
    width: min(600px, 100%);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // align-items: flex-start;
    gap: 20px;
}

.group {
    display: flex;
    align-items: center;
    gap: 20px;

    &>* {
        flex: 1;
    }
}

.categoryItem {
    padding: 8px 12px;
}

.submitBtn {
    width: fit-content;
}