.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left {
    display: flex;
}

.right {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // z-index: 1;
}

.rightTop {
    padding: 24px 40px;
    min-width: 250px;
}

.contentWrapper {
    flex: 1;
    padding: 0 20px 0 40px;
    overflow-x: auto;
}

.content {
    min-width: 100%;
}