.listComment {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 12px;

    &.owner {
        flex-direction: row;

        .inputWrapper {
            align-items: flex-start;
        }
    }

    &.editing {
        .commentContent {
            display: none;
        }

        .editControl {
            display: none;
        }

        .inputControl {
            display: flex;
        }
    }

    .commentOwner {
        font-size: 1.5rem;
        color: var(--text-color);
        padding: 0 12px 10px 0;
    }

    .commentContent {
        width: fit-content;
        max-width: 100%;
        word-break: break-all;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid var(--border-color);
        font-size: 1.5rem;
    }

    .inputWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 60%;
        flex: 1;
    }

    .inputRoot {
        width: 100%;
        border-radius: 4px;
        border: 1px solid var(--border-color);
    }

    .input {
        font-size: 1.5rem;
        color: var(--text-color);
        font-weight: 400;
        padding: 8px 12px;
        height: auto;
        width: 100% !important;
        // resize: none;
        // overflow-y: hidden;
        border-color: transparent;
        background-color: transparent;

        &:hover {
            background-color: var(--bg-dark-color);
        }

        ::placeholder {
            color: rgba(0, 0, 0, 0.87);
            font-weight: 500;
        }
    }

    .editControl {
        display: flex;
        margin-top: 10px;
        align-items: center;
        gap: 8px;
        color: var(--text-light-color);

        button {
            background-color: transparent;
            color: var(--text-light-color);
            font-size: 1.3rem;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        span {
            line-height: 1;
        }
    }

    .inputControl {
        display: none;
        align-items: center;
        gap: 12px;
        padding-top: 10px;
    }
}

.item~.item {
    margin-top: 12px;
}